*{
    margin: 0;
    padding: 0;

}

body{
    background-color: dodgerblue;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;

}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    font-size: 8vmin;
    background-color: #fff;
    color: black;
}
.reset-btn{
  height: 50px;
  width: 150px;
  border-radius: 2rem;
  border: none;
  font-size: 19px;
}
.new-btn{
    height: 50px;
  width: 150px;
  border-radius: 2rem;
  border: none;
  font-size: 19px;
}
.msg{
    color: #fffc7f;
    font-size: 5vmin;
}
.msg-container{
 height: 100vmin;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 gap: 4rem;

}
.hide{
    display: none;
}
